<html>
	<head>
		<title>Choix des énigmes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
		<script src="js/main.js" async></script>
		<script src="/static/js/carousel.js"></script>
	</head>
	<body>
		
	 
		<div>
			    <div class="background" style="z-index: -10; width: 100vw;height: 100%; margin:0;padding: 0; position: fixed;top:0;" >
      {% include "mozaique.html" ignore missing %}
    </div>  
    		    <div class="background" style="z-index: -5; width: 100vw;height: 100%; margin:0;padding: 0; position: fixed;top:0;background: linear-gradient(to bottom, rgba(200,200,200,1),rgba(200,200,200,0.95) 55%, rgba(200,200,200,0.20) 100%);" >
			<!-- Created with Inkscape (http://www.inkscape.org/) -->
			<!--  <style>
				svg {
					transform:  skewX(30deg);
				}
			</style> -->
			
			</div>
			<h2>Mosaique</h2>
			<div >
			</div>
				
 		</div>
	</body>
</html>