<html>
	<head>
		<style>
			html, body{
				margin: 0px;
				padding: 0px;
			}
			#carousel{

			}
			

			.carousel{

			}
			.slider{
				width:100%;
				max-height: 25vh;

			}


			.elmt_slider{
 
			}

			.red{
				background-color: red;

 			}


			.blue{
				background-color: blue;
			}

			

			.green{
				background-color: green;
			}

			

			.yellow{
				background-color: yellow;
			}

			

		</style>
		<script src="carousel.js"></script>
	</head>
	<body>
		
		<div id="carousel">
			<div class="carousel_wrapper">
				
			<div  class="elmt_slider focus red" >
				rouge
			</div>
			
			<div  class="elmt_slider blue" >
				vert
			</div>

			<div  class="elmt_slider green" >
				bleu
			</div>

			<div  class="elmt_slider yellow" >
				jaune
			</div>
			</div>
		</div>
		<div>
 <!-- Created with Inkscape (http://www.inkscape.org/) -->

<!--  <style>
 	svg {
 		transform:  skewX(30deg);
 	}
 </style> -->

 
 


<h2>Mosaique</h2>

{% include "mozaique.html" ignore missing %}


		</div>
	</body>
</html>