<!DOCTYPE HTML>
<html>
  <head>
    <title>Enigme 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/enigme1.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Roboto&display=swap" rel="stylesheet">
    <!-- Highlight mise en forme du code  -->
    <link rel=stylesheet href="/static/assets/codemirror/lib/codemirror.css">
    <link rel=stylesheet href="/static/assets/codemirror/theme/monokai.css">
    <script src="/static/assets/codemirror/lib/codemirror.js"></script>
    <script src="/static/assets/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/assets/codemirror/mode/css/css.js"></script>
    <script src="/static/assets/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/static/assets/codemirror/mode/python/python.js"></script>
    <script src="/static/assets/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/static/assets/codemirror/keymap/sublime.js"></script>
    
  </head>
  <body style="background-image: url('/static/images/fond_triangles_turquoise.svg');background-size: cover;">
    
    
    <noscript>
    <strong>Attention cette page ne fonctionnera pas correctement sans JavaScript activé. Merci de l'activer pour pouvoir continuer.</strong>
    </noscript>
    
    <header>
      
    </header>
    
    <div class="enigme_content">
      <div class="wrapper-text" style="margin: 50px;">
        
        <h1>2</h1>
        <br>
        On recherche un nombre mystère de neuf chiffres tous distincts et différents de 0 tel que :
        <ul style="text-align: left">
          <li> le nombre formé par le premier chiffre soit divisible par 1 </li>
          <li> le nombre formé par les deux premiers chiffres soit divisible par 2 </li>
          <li> le nombre formé par les trois premiers chiffres soit divisible par 3 </li>
          <li> le nombre formé par les quatre premiers chiffres soit divisible par 4 </li>
          <li> le nombre formé par les cinq premiers chiffres soit divisible par 5 </li>
          <li> le nombre formé par les six premiers chiffres soit divisible par 6 </li>
          <li> le nombre formé par les sept premiers chiffres soit divisible par 7 </li>
          <li> le nombre formé par les huit premiers chiffres soit divisible par 8 </li>
          <li> le nombre formé par les neuf premiers chiffres soit divisible par 9 </li>
        </ul>
        <br>
        <em>  Note : On appelle par premier chiffre le chiffre de gauche.. <br>
        Exemple : <span class="red">1</span>564 a pour premier chiffre <span class="red">1</span> </em>
        <br><br>
        <div class="question" style="font-weight: bold">
          Ecrire une fonction python nommée nombre_mystere qui retourne le nombre mystère.
        </div>
        
        <div class="critere-eval left">
          <h4>Critères d'évaluation :</h4>
          <ul>
            <li>Justesse du résultat,</li>
            <li>Qualité du code,</li>
            <li>Temps d'execution de la fonction.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="enigme_content center">
      <h2>Réponse</h2>
      Entrer votre réponse dans l'éditeur de texte ci-dessous : <br>
      <br>
      <form class="form-example" id="reponse-form" method="POST">
        <input class="invisible" type="text" id="hidden-reponse" name="reponse" >
        <div class="left">
          
          <textarea id="reponse-textarea" rows="20" cols="50" name="reponse" form="reponse-form">
          </textarea>
        </div>
        
        <div class="form-example">
          <div class="center btn_validation">
            
            <br>
            
            <button  type="submit" value="" onclick="GrosseMagouille()">Valider votre réponse</button>
          </div>
        </form>
      </div>
      <div id="popup" class="popup invisible">
        <div class="popup_content">
          <h2>Vos résultats ont été enregistrés
          retour à l'accueil</h2>
          <div class="content">
            Vous pouvez retourver votre classement parmis les établissements de l'île dans la partie ....
          </div>
        </div>
      </div>
      <!--   <script>
      function updateHTML(){
      console.log("Ecriture");
      let codeArea = document.getElementById("codearea_html");
      let resultArea = document.getElementById("resultarea_html");
      let content = codeArea.innerHTML;
      console.log(content);
      resultArea.innerText = content;
      }
      </script> -->
      <script>
      let testResult = "{{test_result}}";
      let final = "{{final}}";
      console.log(final);
      let popup = document.getElementById("popup");
      popup.addEventListener("click", function(evt){
      popup.classList.remove("visible");
      popup.classList.add("invisible");
      });
      if(final == "True"  ){
      popup.classList.remove("invisible");
      popup.classList.add("visible");
      }
      </script>
      <script>
      var reponseTextArea = document.getElementById("reponse-textarea");
      var myCodeMirror = CodeMirror(function(elt) {
      reponseTextArea.parentNode.replaceChild(elt, reponseTextArea);}, {
      theme: "monokai",
      indentUnit: 4,
      keyMap : "sublime",
      mode:  "python",
      value: "# Votre réponse ici"
      });

      function GrosseMagouille(){
        document.getElementById("hidden-reponse").value = myCodeMirror.value;
      }
      </script>
    </body>
  </html>