<!DOCTYPE HTML>




<html>

<style type="text/css">
title {size: 2000%;}



	body {
background-image: url(static/images/im.jpg);
background-clip: content-box;
background-position: top center;
background-repeat: no-repeat;
background-size: auto auto;
background-color: brown;

}

h1 {color: red;}


b1 {font-size:500%;color: blue;}


cc1 {font-size:100%;color: green;}

</style>

  <head>
    <title >FIFOandLIFO</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="quiz.css">
  </head>
  <body >
    <noscript>
      <strong>Attention cette page ne fonctionnera pas correctement sans JavaScript activé. Merci de l'activer pour pouvoir continuer.</strong>
    </noscript>

    <header>
      <h1    > <center>   </h1>

        

         <b1 > <center>   <marquee BEHAVIOR="slide">  Site en construction !! </marquee> </b1>


         <cc1 > <center>   <marquee BEHAVIOR="alternate">  FIFOandLIFO </marquee> </cc1>	



    </header>

  </body>
</html>
