<!DOCTYPE HTML>
<html>
  <head>
    <title>LOGIN</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="quiz.css">
  </head>
  <body>
    <noscript>
      <strong>Attention cette page ne fonctionnera pas correctement sans JavaScript activé. Merci de l'activer pour pouvoir continuer.</strong>
    </noscript>

    <header>
      <h1>Quiz</h1>
    </header>

    <form class="form-example">
      <div class="form-example">
        <label for="name">Nom:
        </label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="form-example">
        <label for="email">Mot de passe:
        </label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="form-example">
        <input type="submit" value="Connexion">
      </div>
    </form>

    <main>
      <div class="question">
        <div class="question-statement"></div>
        <div class="question-answers">
        </div>
        <div class="question-footer">
          <button>Valider</button>
        </div>
      </div>
    </main>

    <div class="overlay">
      <div class="result">
        <h2>Quiz terminé</h2>
        <div class="content"></div>
      </div>
    </div>

    <script src="quiz.js"></script>
  </body>
</html>
