    body{
    background-image:url("/static/images/fond_triangles_turquoise.svg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    padding-bottom: 100px;
    }
    .header {
    min-height: : 200px;
    }
    .enigme_content{
    background-color: rgba(255,255,255,0.8);
    max-width: 800px;
    width: 50%;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 3px 3px 2px 1px rgba(200, 255, 255, .5);
    }
    
    .enigme_content h1{
    font-family: 'Roboto', sans-serif;
    color:rgba(0, 50, 50, .5);
    border-radius: 50%;
    width: 100px;
    height: 70px;
    background-color: #00A595;
    margin:auto;
    margin-top: -100px;
    text-align: center;
    padding-top: 30px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .7);
    }
    .enigme_content h2{
    font-family: 'Roboto', sans-serif;
    color:rgba(0, 50, 50, .5);
    width: 40%;
    background-color: #00A595;
    margin:auto;
    margin-top: -50px;
    text-align: center;
    box-shadow: 1 3 5 #AAA;
    margin-bottom: 50px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .5);
    }
    input{
    color: #757575;
    background-color: rgb(255,255,255,0);
    min-height: 50px;
    font-size: 1.25em;
    border:none;
    border-bottom: 2px solid #CCC;
    text-align: center;
    outline:none;
    }
    input:hover{
    color:rgba(0, 165, 149, .9);
    border-bottom: 2px solid rgba(0, 165, 149, .9);
    outline:none;
    }
    input:active{
    color:rgba(0, 165, 149, .9);
    border: 1px solid rgba(0, 165, 149, .9);
    outline:none;
    }
    input:selected{
    color:rgba(0, 165, 149, .9);
    border: 1px solid rgba(0, 165, 149, .9);
    }
    input::placeholder{
    font-size: 0.8em;
    }
    .center{
    text-align: center;
    }
